@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
	padding: 5px;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

.header{
	background-color: #000000;
	background-size:cover;
	padding:15px;
	color: #F9C600;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}
	
.footer{
	margin-top: 11%;
	background-color:#CCCCCC;
	background-size:cover;
	padding: 20px;
	text-align: center;
	height: 30%;

	}

h1{
	color: #000000;
	font-size: 1.35em;
	}

	
h5{
	text-align: center;
	padding-bottom: 5%;
	}
	
h7{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	}

body{
	background-color: #FFFFFF;	
	}
	
#first{
	width: 100%;
	margin-bottom: 5%;
	text-align:center;
	}
	
.resultsLink{
	width: 100%;
	text-align:right;

	}
	
#results{
	float: left;
	clear: both;
	}

.box{
	width: 100%;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 15%;
	text-align:justify;
	
	}

/*links */
a:hover, a:active {
	outline: 0; 
	}

a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #A6782E;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

.enterSearch{
	text-align: center;
	width: 100%;
	}

/* Mobile Layout: 480px and below.*/ 
.wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	background-color: #FFFFFF;
	background-size: auto;
	border-color: #999999;
	border-radius: 1px;
	margin-left: auto;
	margin-right: auto;	
	padding-left: 1.82%;
	padding-right: 1.82%;
}

article, aside, details, figcaption, figure, footer, nav. header, hgroup, { 
	display: inline-block; 
	float: right;
	clear: right;
	padding: 5px;
	width: 0 auto;
	border:thin;
	}

input[type=text]{
	margin-bottom: 10px;
	width: 40%;
	padding: 5px;
	border-radius:5px;
	border:1px solid #7AC9B7;
}

#formBox{
	width: 80%;
	text-align: right;
	
	}
textarea {
	overflow: visible;
	vertical-align: top;
	resize: vertical;
	
}
	
form{
	width: 100%;
	margin-bottom: 5%;
	text-align: center;
	}
	
#nav{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.05em;
	margin-top: 15px;
	width: 100%;
	text-align:center;
	}
	
.buttons{
	float: right;
	clear: none;
	margin-right: 5%;
	font-size: 11px;
	color: #000000;
	
	}


#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}